// Define variables for your color scheme

// You can use it for headlines, titles or any other important information
$red: #D84C4C;
$blue: #053884;
$yellow: #9c7a3d;
$orange: #bf691d;
$green: #1EDD88;
$dark-gray: #383838;
$gray: #747474;
$medium-gray: #a8A0A0;
$light-gray: #e8e8e8;
$white: #FCF1F2;

// theme color
$main0: #683437;
$main1: #ED7277;
$main2: #DB7F85;
$main3: #FCDBDE;
$main4: #EAD2CE;

$primary: #5492AC;
$primary-darken: color-mix(in srgb,$primary,#000 15%);

$bg-white: #f5f5f5;

$text-primary: #2D5A6D;
