.form {
  .form-input {
    width: 100%;

    input {
      border: 0px;
      border-bottom: 1px solid $gray;
      width: 100%;
      color: inherit;
      background-color: inherit;
      padding: 2px 2px;
      font-size: 18px;

      &:focus {
        outline-color: $primary;
      }

      &.invalid {
        border-bottom: 1px solid $red;
      }
    }

    label {
      text-align: start;
      font-size: 12px;
      color: $medium-gray;

    }
  }
}
